# Cognito environment variables
COGNITO_USER_POOL_ID=us-east-1_dVFfTH2gg
COGNITO_APP_CLIENT_ID=5447p84r72dpda0ifsp6vgqb7j
COGNITO_DOMAIN_BASE=https://us-east-1dvffth2gg.auth.us-east-1.amazoncognito.com
COGNITO_REDIRECT_URI=miapp://callback
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_dVFfTH2gg

# Restaurant service DB
RESTAURANT_DB_URL=jdbc:postgresql://restaurant-db:5432/restaurant
RESTAURANT_DB_USERNAME=restaurant_user
RESTAURANT_DB_PASSWORD=REPLACE_WITH_RESTAURANT_DB_PASSWORD

# Client preferences service DB
PREFERENCES_DB_URL=jdbc:postgresql://client-preferences-db:5432/client_preferences
PREFERENCES_DB_USERNAME=preferences_user
PREFERENCES_DB_PASSWORD=REPLACE_WITH_PREFERENCES_DB_PASSWORD
